body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
}

.title{
    display: flex;
    justify-content: center;
    padding: 32px;
    font-weight: 400;
    font-size: 84px;
}

.score{
    display: flex;
    justify-content: space-around;
    padding: 72px;
    font-size: 52px;
}


.selections{
    display: flex;
    justify-content: space-around;
    font-size: 150px;
    margin: 150px;
}

.update {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}